/* body {
    background-color: yellowgreen;
    border-top: 10cm;
    border-color: black;
}

p,
h1 {
    color: red;
    font-size: medium;
}

div p {
    color: maroon;
}

for ids
#first-para {

    color: yellow;
} 
 for classes
.first-para {

    color: goldenrod;
}

#second-para {
    color: pink;
} */

/* _popular_css.html */
p {
    color: crimson;
    font-style: italic;
}

div {
    color: blue;
    background: scroll;
    background-color: aquamarine;
    border: solid;
    border-width: 1mm;
    border-radius: 20%;
    border-color: orange;
    border-top: 10cm;
}

div {
    margin-block: 35px;
}

ul {
    list-style-type: none;
}

p,
h1 {
    color: red;
    font-size: medium;
}